datasets/e-mm1_100m filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_1m filter=lfs diff=lfs merge=lfs -text
datasets/eshot filter=lfs diff=lfs merge=lfs -text
datasets/eshot/eshot_audio_info.csv filter=lfs diff=lfs merge=lfs -text
datasets/eshot/eshot_points_info.csv filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/nn_10 filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/nn_15 filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/nn_7 filter=lfs diff=lfs merge=lfs -text
datasets/eshot/category_to_audio_ids.json filter=lfs diff=lfs merge=lfs -text
datasets/eshot/category_to_point_ids.json filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/nn_13 filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/nn_14 filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/nn_16 filter=lfs diff=lfs merge=lfs -text
datasets/eshot/audio filter=lfs diff=lfs merge=lfs -text
datasets/eshot/point-clouds filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/infos filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/nn_11 filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/nn_12 filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/nn_2 filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/nn_5 filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/nn_8 filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_1m/annotation_mapping.csv filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_1m/infos filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/nn_1 filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/nn_3 filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/nn_4 filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/nn_6 filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/nn_9 filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_1m/triplets.csv filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/infos/audio.csv filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/infos/image.csv filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/infos/triplets.csv filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/nn_1/data_groups.csv filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/nn_12/data_groups.csv filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/nn_2/data_groups.csv filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_1m/infos/image.csv filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_1m/infos/video.csv filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/infos/points.csv filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/infos/video.csv filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/nn_10/data_groups.csv filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/nn_13/data_groups.csv filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/nn_15/data_groups.csv filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/nn_7/data_groups.csv filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_1m/infos/text.csv filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/nn_14/data_groups.csv filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/nn_16/data_groups.csv filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/nn_6/data_groups.csv filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/nn_9/data_groups.csv filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_1m/infos/points.csv filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/infos/text.csv filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/nn_11/data_groups.csv filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/nn_3/data_groups.csv filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/nn_4/data_groups.csv filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/nn_5/data_groups.csv filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_100m/nn_8/data_groups.csv filter=lfs diff=lfs merge=lfs -text
datasets/e-mm1_1m/infos/audio.csv filter=lfs diff=lfs merge=lfs -text

