dataset/* filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_2_dataset filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/nn_3 filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/nn_4 filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/nn_6 filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/nn_10 filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/nn_2 filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/nn_5 filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/nn_7 filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/nn_8 filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/nn_9 filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_2_dataset/infos filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/nn_11 filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/nn_13 filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_2_dataset/triplets.csv filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/nn_14 filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_2_dataset/annotation_mapping.csv filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/infos filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/nn_1 filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/nn_12 filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/nn_15 filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/nn_16 filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_2_dataset/infos/points.csv filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/infos/image.csv filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/infos/text.csv filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/nn_11/data_groups.csv filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/nn_12/data_groups.csv filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/nn_2/data_groups.csv filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/nn_4/data_groups.csv filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/nn_5/data_groups.csv filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/nn_8/data_groups.csv filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/nn_1/data_groups.csv filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/nn_13/data_groups.csv filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/nn_7/data_groups.csv filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_2_dataset/infos/audio.csv filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_2_dataset/infos/text.csv filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_2_dataset/infos/video.csv filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/nn_16/data_groups.csv filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/infos/points.csv filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/infos/video.csv filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/nn_10/data_groups.csv filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/nn_14/data_groups.csv filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/nn_6/data_groups.csv filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/nn_9/data_groups.csv filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/infos/audio.csv filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/infos/triplets.csv filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/nn_15/data_groups.csv filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_1_dataset/nn_3/data_groups.csv filter=lfs diff=lfs merge=lfs -text
datasets/encord_split_2_dataset/infos/image.csv filter=lfs diff=lfs merge=lfs -text
